<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <head th:insert="~{index :: navbar}"></head>

    <main>
        <h1>Register</h1>
        <div th:if="${param.success}">
            <p>Registration successful</p>
        </div>

        <!-- register form -->
         <form th:action="@{/register/save}" method="post" role="form" th:object="${user}">

            <div>
                <label for="firstName">First Name</label>
                <input id="firstName" name="firstName" th:field="*{firstName}" type="text">
                <p th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></p>
            </div>

            <div>
                <label for="lastName">Last Name</label>
                <input id="lastName" name="lastName" th:field="*{lastName}" type="text">
                <p th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></p>
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" th:field="*{email}">
                <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
            </div>

            <div>
                <label for="password">Set Password</label>
                <input type="password" id="password" name="password" th:field="*{password}">
                 <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
            </div>

            <div>
                <button type="submit">Register</button>
                <span>Already have an account? <a th:href="@{/login}">Login</a></span>
            </div>
         </form>
    </main>

    <head th:insert="~{index :: footer}"></head>
    <script th:replace="~{index :: bootstrapScript}"></script>
</body>
</html>