<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}"/>
<body class="bgLight overflow-x-hidden">

    <div class="w-100 d-flex align-items-center justify-content-center bgDark py-3">
        <h1 class="fontBig txtWhite">The Daily Nova</h1>
    </div>

    <div th:insert="~{index :: categoryNavigation}" class="w-100"></div>
    <div th:insert="~{index :: searchbar}"></div>
    
    <div class="row" th:each="article : ${articles}">
        <div th:insert="~{index :: articleCard(article=${article})}" class="col-12"></div>
    </div>
</body>
</html>
