<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}"></head>
<body>

    <h1>Inserisci un nuovo articolo</h1>

    <form th:action="@{/articles}" method="post" th:object="${article}" enctype="multipart/form-data">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" th:field="*{title}">
            <p th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
        </div>

        <div>
            <label for="subtitle">Subtitle</label>
            <input type="text" id="subtitle" name="subtitle" th:field="*{subtitle}">
            <p th:errors="*{subtitle}" th:if="${#fields.hasErrors('subtitle')}"></p>
        </div>

        <div>
            <label for="body">Article Body</label>
            <textarea type="text" id="body" name="body" th:field="*{body}"></textarea>
            <p th:errors="*{body}" th:if="${#fields.hasErrors('body')}"></p>
        </div>

        <div>
            <label for="publishedOn">Published On:</label>
            <input type="date" id="publishedOn" name="publishedOn" th:field="*{publishedOn}" placeholder="YYYYMMDD">
            <p th:errors="*{publishedOn}" th:if="${#fields.hasErrors('publishedOn')}"></p>
        </div>

        <div>
            <label for="category">Category</label>
            <select name="category" id="category" th:field="*{category}">
                <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                <p th:errors="*{category}" th:if="${#fields.hasErrors('category')}"></p>
            </select>
        </div>

        <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="files" multiple>
        </div>

        <button type="submit">Submit</button>
    </form>
    <head th:insert="~{index :: footer}"></head>
    <script th:replace="~{index :: bootstrapScript}"></script>
</body>
</html>