<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}"></head>
<body class="bgLight overflow-x-hidden">

    <div class="container-fluid p-0">
        <div class="row justify-content-center align-items-center">

            <div class="col-12 d-flex align-items-center justify-content-center bgDark py-3">
                <a href="/" class="fontBig bigTitle txtWhite">The Daily Nova</a>
            </div>

            <h1 class="fontBig col-12 txtBlack fontsize2 text-center mt-3 fw-bold">Edit article</h1>

            <form th:action="@{/articles/update/{id}(id=${article.id})}" method="post" th:object="${article}" enctype="multipart/form-data" class="col-8 d-flex flex-column justify-content-center align-items-center">


                <input type="hidden" th:field="*{id}" />

                <input type="text" class="createInput my-2 py-2 w-100 fontBig fontsize4 txtBlack" name="title" th:field="*{title}" placeholder="Title">

                <input type="text" class="createInput my-2 py-2 w-100 fontBig fontsize4 txtBlack" name="subtitle" th:field="*{subtitle}" placeholder="Subtitle">

                <textarea name="body" class="regInput my-2 logInput fontBig fontsize4 bodyInput w-100" th:field="*{body}" placeholder="Body"></textarea>

                

                <div class="col-12 d-flex align-items-center justify-content-evenly mb-5 mt-2">
                    
                    <select name="category" id="category" th:field="*{category}" class="my-2 py-2 fontBig fontsize4 txtWhite">
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                        </option>
                    </select>
                
                    <input type="text" class="createInput my-2 py-2 fontBig fontsize4 txtBlack" name="author" readonly th:field="*{user.username}" placeholder="Author">

                    <input type="text" readonly th:field="*{publishedOn}" class="createInput my-2 py-2 fontBig fontsize4 txtBlack" />


                </div>


                

                

                

                


                <div th:if="${article.images != null and #lists.size(article.images) > 0}">
                    <label for="oldImages" class="my-2 fontBig fontsize3">Previous images</label>
                    <div class="d-flex">
                        <div th:each="image, iterStat : ${article.images}">
                            <img th:src="${image.path}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div th:if="${article.images == null or #lists.size(article.images) == 0}">
                    <label for="image" class="my-2 fontBig fontsize3">Previous Image</label>
                    <img src="/images/default.png" alt="Immagine fallback di default">
                </div>


                <div class="d-flex flex-column align-items-center justify-content-between">
                    <label for="image" class="my-2 fontBig fontsize4">Change images</label>
                    <input type="file" name="files" id="image" multiple class="fontBig fontsize4 createInput">

                </div>

                <button type="submit" class="btnCreate fontBig fontsize4 txtWhite my-5 p-3 px-5">Update</button>
            </form>
            
            <div th:insert="~{index :: footer}"></div>
        </div>
        
    </div>


    
</body>
</html>