<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>
<body class="bgLight overflow-x-hidden">
    <div class="container-fluid p-0">
    <!-- <head th:insert="~{index :: navbar}"></head> -->

        <div th:if="${param.notAuthorized}" class="position-absolute top-0 ms-3">
            <p class="txtRed fontBig fontsize3 text-center">Not authorized!</p>
        </div>

        <div th:if="${successMessage}" class="position-absolute top-0 ms-3"><p th:text="${successMessage}" class="txtGreen fontBig fontsize3 text-center"></p></div>

        <div th:if="${errorMessage}" class="position-absolute top-0 ms-3"><p th:text="${errorMessage}" class="txtRed fontBig fontsize3 text-center"></p></div>


        <div class="row py-5 homeHeading">
            <div class="col-8 d-flex align-items-center justify-content-center ps-4">
                <a href="/" class="fontBig txtWhite">The Daily Nova</a>
            </div>

            <div class="col-4 d-none d-md-flex flex-column justify-content-center align-items-center">
                <p th:text="${day}" class="fontBig fontsize3 txtWhite m-0"></p>
                <p th:text="${date}" class="fontBig fontsize3 txtWhite m-0"></p>
            </div>
        </div>
        
        <div th:insert="~{index :: categoryNavigation}" class="position-absoluteSmall"></div>

        <div class="row position-relative">

            <div th:insert="~{index :: newsTicker(articles=${articles})}" class="col-md-8 col-6 p-0 m-0 fit-content"></div>

            <div th:insert="~{index :: userDashboard}" class="col-md-4 col-6 p-0 m-0 position-absolute end-0">
            </div>

        </div>

        <div th:insert="~{index :: searchbar}" class="w-75"></div>

        <div class="row" th:each="article : ${articles}">
            <div th:insert="~{index :: articleCard(article=${article})}" class="col-8"></div>
        </div>
    </div>   

    <div th:insert="~{index :: loginModal}"></div>

    <div th:insert="~{index :: careerModal}"></div>

    <script th:replace="~{index :: bootstrapScript}"></script>

    <script th:replace="~{index :: timeZonesScript}"></script>
</body>
</html>