<!DOCTYPE html>
<html lang="en"
xmls:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>
<body>
    <head th:insert="~{index :: navbar}"></head>

    <div th:if="${param.notAuthorized}">
        <p>Not authorized!</p>
    </div>

    <div th:if="${successMessage}"><p th:text="${successMessage}"></p></div>

    <main>
        <h1>Home</h1>
    </main>

    <head th:insert="~{index :: footer}"></head>
    <script th:replace="~{index :: bootstrapScript}"></script>
</body>
</html>