<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head fragment -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- boostrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!-- Google fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive&family=Cutive+Mono&display=swap" rel="stylesheet">

    <!-- bootstrap icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- MY CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title th:text="${title}">Title</title>
    
</head>


<body>

    <!-- navbar fragment -->
    <nav th:fragment="navbar" class="row w-100">

        
        <div class="col-3">
            <a th:href="@{/}" class="btn btn-primary">The Daily Nova</a>
        </div>
        
        <div class="col-3" sec:authorize="isAnonymous">
            
        </div>
        
        <div class="col-3" sec:authorize="isAnonymous">
            <a th:href="@{/login}">Login</a>
        </div>

        <div class="col-3" sec:authorize="isAuthenticated">
            <a th:href="@{/logout}">Logout</a>
        </div>
         
        <div class="col-3">
        <a sec:authorize="isAuthenticated" href="/articles/create">Create new article</a>
        </div>

        <div class="col-3">
            <a href="/articles">All Articles</a>
        </div>

        <div class="col-3" sec:authorize="isAuthenticated">
            <p th:text="'Benvenut*, ' + ${#authentication.principal.fullName}">Benvenut</p>
            <p >Role</p>
        </div>
    </nav>
    <!-- fine navbar fragment -->





    <!-- Category navigation fragment -->
     <div class="row flex-md-row bgDark" th:fragment="categoryNavigation" th:classappend="${page} == 'home' ? ' flex-column py-5 px-2 p-md-0 ' : 'py-3'">
        <div class=" text-start text-md-center fontsize5 fontBig txtWhite bgDark pb-1 px-0" th:each="cat : ${navbarCategories}" th:classappend="${page} == 'home' ? ' col-md-2 col-12 text-start text-md-center' : ' col-4 col-md-2 text-center'">
            <a th:href="@{'/categories/search/' + ${cat.id}}" class="ps-2 p-md-0 fontBig txtWhite fontsize4" th:text="${cat.name}" th:classappend="${cat.id} == ${selectedCategoryId} ? ' selected-category' : ''"></a>
        </div>
     </div>
    <!-- fine category navigation fragment -->




     <!-- article fragment -->
      <div class="card row align-items-center justify-content-center my-3" th:fragment="articleCard">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6 col-8 d-flex justify-content-center align-items-center p-0 pe-3">
                <img th:if="${article.images.size() > 0}" th:src="${article.images[0].path}" alt="" class="img-fluid">
                <img th:unless="${article.images.size() > 0}" th:src="@{/images/default.png}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 col-10 d-flex flex-column justify-content-center pe-4 align-items-start">
                <h2 class="fontBig text-start fonts fontsize3 txtBlack" th:text="${article.title}">Title</h2>
                <h3 class="fontBig text-start fontsize4 txtBlack" th:text="${article.subtitle}">Subtitle</h3>
                <p class="fontBig text-start fontsize5 txtBlack multiline-truncate" th:text="${article.body}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facilis quaerat consequuntur aut incidunt, saepe similique corporis voluptate ut itaque.</p>
                <div class="w-100 d-flex justify-content-between">
                    <a th:href="@{/articles/detail/{id}(id=${article.id})}" class="fontBig text-start fontsize4 txtBlack hoverCustom borderBottom p-0">Read more</a>
                    <p class="fontBig text-end fontsize4 txtBlack" th:text="${article.publishedOn}">XX/XX/XXXX</p>
                </div>
            </div>
            
        </div>
      </div>
      <!-- fine article fragment -->





      <!-- news ticker fragment -->
       <div class="news-ticker bgDark text-white py-2 overflow-hidden" th:fragment="newsTicker">
            <div class="ticker-track d-flex" id="tickerTrack">
                <span th:each="article : ${articles}" class="me-5 fontBig fontSize4 txtWhite"><strong th:text="${article.category.name} + ':'"></strong> <span th:text="${article.title}"></span></span>
        </div>
    </div>
    <!-- fine news ticker fragment -->




    

    <!-- User dashboard fragment -->

    <div class="bgDark d-flex flex-column align-items-center justify-content-center" th:fragment="userDashboard" >
        <!-- register form -->
         <form sec:authorize="isAnonymous" th:action="@{/register/save}" method="post" role="form" th:object="${user}">

            <h1 class="fontBig txtWhite fontsize3 text-center my-3 mx-2">Create an account</h1>


                <div class="d-flex justify-content-between align-items-center mb-2 mx-2">
                    <label for="firstName" class="txtWhite fontsize4 fontBig">First Name</label>
                    <input id="firstName" class="regInput fontBig fontsize4" name="firstName" th:field="*{firstName}" type="text" th:classappend="${#fields.hasErrors('firstName')} ? 'errInput' : ''" th:placeholder="${#fields.hasErrors('firstName')} ? '*' : ''">  
                </div>

            <div class="d-flex justify-content-between align-items-center mb-2 mx-2">
                <label for="lastName" class="txtWhite fontsize4 fontBig">Last Name</label>
                <input class="regInput fontBig fontsize4" id="lastName" name="lastName" th:field="*{lastName}" type="text" th:classappend="${#fields.hasErrors('lastName')} ? 'errInput' : ''" th:placeholder="${#fields.hasErrors('lastName')} ? '*' : ''">
            </div>

            <div class="d-flex justify-content-between align-items-center mb-2 mx-2">
                <label for="email" class="txtWhite fontsize4 fontBig">Email</label>

                <input class="regInput fontBig fontsize4" type="email" id="email" name="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'errInput' : ''" th:placeholder="${#fields.hasErrors('email')} ? '*' : ''">
            </div>

            <div class="d-flex justify-content-between align-items-center mb-2 mx-2">
                <label for="passwordReg" class="txtWhite fontsize4 fontBig">Password</label>
                    <input class="regInput fontBig fontsize4" type="password" id="passwordReg" name="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'errInput' : ''" th:placeholder="${#fields.hasErrors('password')} ? '*' : ''">
            </div>
            
            <p th:if="${#fields.hasErrors('email')} or ${#fields.hasErrors('password')} or ${#fields.hasErrors('firstName')} or ${#fields.hasErrors('lastName')}" class="txtRed fontsize5 fontBig position-absolute"><span class="txtWhite fontsize4 ">*  </span>This field is required.</p>


            <div class="d-flex flex-column align-items-center justify-content-center pt-4">
                <button type="submit" class="btn fontBig fontsize4 txtWhite my-2">Sign Up</button>
                <p class="fontBig txtWhite fontsize4 mt-3">Already have an account?</p>
                <a href="" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn fontBig fontsize4 txtWhite my-2">Sign In</a>
            </div>
         </form>
        <!-- fine register form -->


         <!-- authenticated zone -->
         <div sec:authorize="isAuthenticated" class="d-flex flex-column align-items-center justify-content-center">
            <h2 class="fontBig fontsize3 txtWhite"><span th:text="${#strings.capitalize(#authentication.principal.authorities[0].authority.replace('ROLE_', '').toLowerCase())}"></span> Dashboard</h2>
             <h3 class="fontBig fontsize4 txtWhite">Welcome back, <span th:text="${#authentication.principal.fullName}"></span> </h3>
             
             <a href="/articles/create" sec:authorize="hasRole('ROLE_WRITER')" class="btn fontBig fontsize4 txtWhite my-2">Write an article</a>

             <a href="/admin/dashboard" sec:authorize="hasRole('ROLE_ADMIN')" class="btn fontBig fontsize4 txtWhite my-2 position-relative">Admin Dashboard <span th:if="${careerRequests > 0}" class="badge bg-warning txtBlack fontsize5 rounded-pill position-absolute" th:text="${careerRequests}"></span></a>

             <a href="/writer/dashboard" sec:authorize="hasRole('ROLE_WRITER')" class="btn fontBig fontsize4 txtWhite my-2 position-relative">Writer Dashboard</a>

             <a href="/revisor/dashboard" sec:authorize="hasRole('ROLE_REVISOR')" class="btn fontBig fontsize4 txtWhite my-2 position-relative">Revisor Dashboard<span th:if="${articlesToCheck > 0}" class="badge bg-warning txtBlack fontsize5 rounded-pill position-absolute" th:text="${articlesToCheck}"></span></a>

             <a th:href="@{/logout}" class="btn fontBig fontsize4 txtWhite my-2">Logout</a>
         </div>

         <div th:insert="~{index :: timeZones}" class="col-12 mt-3"></div>

         <div th:insert="~{index :: footer}" class="col-12 mt-3"></div>
    </div>
    <!-- fine authenticated zone -->
     <!-- fine user dashboard fragment -->






     <!-- time zones fragment -->
    <div class="bgDark d-flex flex-column align-items-center justify-content-center borderTop w-100" th:fragment="timeZones">
        <div class="my-3">
        <h2 class="fontBig fontsize2 txtWhite text-center">New York</h2>
        <p id="newyork-time" class="fontBig fontsize3 txtWhite text-center"></p>
        </div>

        <div class="my-3">
        <h2 class="fontBig fontsize2 txtWhite text-center">London</h2>
        <p id="london-time" class="fontBig fontsize3 txtWhite text-center"></p>
        </div>

        <div class="my-3">
        <h2 class="fontBig fontsize2 txtWhite text-center">Tokyo</h2>
        <p id="tokyo-time" class="fontBig fontsize3 txtWhite text-center"></p>
        </div>
        
    </div>


    <!-- login modal fragment -->

    <div class="modal" th:fragment="loginModal" id="loginModal" tabindex="-1">
        <div class="modal-dialog">
            
            <div class="modal-content">
                
                <div class="modal-header bgDark">
                    <h5 class="modal-title fontBig fontsize3 bgDark txtWhite">Sign In</h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body bgLight txtBlack">
                    <form th:action="@{/login}" id="login" method="post" role="form">
                        <div class="d-flex justify-content-between w-75 align-items-center mb-2">
                            <label for="username" class="txBlack fontsize4 fontBig">Email</label>

                            <input class="regInput logInput fontBig fontsize4" type="email" id="username" name="username">
                        </div> 

                        <div class="d-flex justify-content-between w-75 align-items-center mb-2">
                            <label for="password" class="txtBlack fontsize4 fontBig">Password</label>
                            <input class="regInput logInput fontBig fontsize4" type="password" id="password" name="password">
                        </div>
                    </form>
                </div>
            
                
                <div class="modal-footer bgDark">
                <button type="button" class="btn fontBig fontsize4 txtBlack" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="event.preventDefault(); document.querySelector('#login').submit();" class="btn fontBig fontsize4 txtBlack">Sign In</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fine login modal fragment -->




    <!-- career modal fragment -->
    <div class="modal" th:fragment="careerModal" id="careerModal" tabindex="-1">
        
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            
            <div class="modal-content">
                
                <div class="modal-header bgDark flex-column">
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h5 class="modal-title fontBig fontsize3 bgDark txtWhite">Job Opportunities</h5>
                    <h6 class="fontBig fontsize4 txtWhite">The Daily Nova is looking for talented people to join our team!</h6>
                    

                </div>
                
                <div class="modal-body bgLight txtBlack">

                    <div class="d-flex align-items-center my-5 justify-content-evenly">
                        <div class="d-flex flex-column align-items-center justify-content-center mx-2">
                            <i class="bi bi-pen-fill iconsize txtBlack"></i>
                            <p class="fontBig fontsize3 txtBlack">Writer</p>
                            <p class="fontBig fontsize4 txtBlack text-center"> Writes and submits articles for review.</p>
                        </div>

                        <div class="d-flex flex-column align-items-center justify-content-center mx-2">
                            <i class="bi bi-eyeglasses iconsize txtBlack"></i>
                            <p class="fontBig fontsize3 txtBlack">Revisor</p>
                            <p class="fontBig fontsize4 txtBlack text-center">Reviews, accepts or rejects articles.</p>
                        </div>

                        <div class="d-flex flex-column align-items-center justify-content-center mx-2">
                            <i class="bi bi-shield-lock-fill iconsize txtBlack"></i>
                            <p class="fontBig fontsize3 txtBlack">Admin</p>
                            <p class="fontBig fontsize4 txtBlack text-center">Manages job requests and content categories.</p>
                        </div>
                    </div>

                
                    <form th:action="@{/operations/career/form/save}" id="career" method="post" role="form" th:object="${careerRequest}">
                        <div class="d-flex flex-column justify-content-between align-items-center my-3">
                            <label for="role" class="txtBlack fontsize4 fontBig">For which position are you applying?</label>
                            <select name="role" id="role" th:field="*{role}" class="p-1 fontBig fontsize4">
                                <option th:each="role:${roles}" th:value="${role.id}" th:text="${#strings.capitalize(role.name.replace('ROLE_', '').toLowerCase())}"></option>
                             </select>
                        </div>

                        <div class="d-flex flex-column justify-content-between align-items-center my-3">
                            <label for="body" class="txBlack fontsize4 fontBig">Tell us about yourself and why yould you like to join our team.</label>

                            <textarea class="regInput logInput fontBig fontsize4 bodyInput" th:field="*{body}" id="body" name="body"></textarea>    
                        </div> 

                    </form>
                </div>
            
                
                <div class="modal-footer bgDark">
                <button type="button" class="btn fontBig fontsize4 txtBlack" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="event.preventDefault(); document.querySelector('#career').submit();" class="btn fontBig fontsize4 txtBlack">Send Application</button>
                </div>
            </div>
        </div>
    </div>


    





    <!-- footer fragment -->
     <footer th:fragment="footer" class="bgDark d-flex align-items-center borderTop w-100 py-4" th:classappend="${page} == 'home' ? ' flex-column justify-content-start' : '  justify-content-evenly' ">

        <div class="mx-4 text-center" th:classappend="${page} == 'home' ? ' ' : 'w-50' ">
            <h2 class="fontBig fontsize2 txtWhite">About <strong>Daily Nova</strong></h2>
        
            <p class="fontBig fontsize4 txtWhite">Daily Nova is your trusted source for the latest news, in-depth analysis, and insightful stories from around the world. We are committed to delivering accurate and engaging content that keeps you informed and inspired every day.</p>
        </div>

        <div class="mx-2 text-center d-flex flex-column align-items-center justify-content-center" th:classappend="${page} == 'home' ? ' mt-3 ' : '' ">
            <h2 class="fontBig fontsize2 txtWhite">Info</h2>

            <p class="fontBig fontsize4 txtWhite"><i class="bi bi-geo-alt-fill txtWhite fontsize4"></i><strong> Address: </strong> Via dei Matti, 0</p>

            <p class="fontBig fontsize4 txtWhite"><i class="bi bi-envelope-fill txtWhite fontsize4"></i><strong> E-mail: </strong> info@dailynova.com</p>

            <p class="fontBig fontsize4 txtWhite"><i class="bi bi-telephone-fill txtWhite fontsize4"></i><strong> Telephone: </strong> 333 3333 3333</p>

            <a sec:authorize="isAuthenticated" data-bs-toggle="modal" data-bs-target="#careerModal" class="btn fontBig fontsize4 txtBlack" th:classappend="${page} == 'home' ? ' my-5 ' : 'd-none' ">Job Opportunities</a>
        </div>
                
          
     </footer>
     <!-- fine footer fragment -->





     <!-- searchbar fragment -->
      <div class="row align-items-center justify-content-center">
        <form th:action="@{/articles/search} " th:fragment="searchbar" method="get" class="bgDark d-flex align-items-center" th:classappend="${page} == 'home' ? ' justify-content-start ' : ' justify-content-center '">
            <input type="search" placeholder="Search article..." name="keyword" class="w-75 ms-md-5 searchbar mb-2">
            <button type="submit" class="searchBtn mb-2 ms-3"><i class="bi bi-search txtWhite"></i></button>
        </form>
      </div>
     <!-- fine searchbar fragment -->




    <!-- time zones script -->
    <script th:fragment="timeZonesScript">
    function updateTimeZones() {
        const now = new Date();

        const formatTime = (timeZone) => {
            return new Intl.DateTimeFormat('en-GB', {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false,
                timeZone: timeZone
            }).format(now);
        };

        document.getElementById("newyork-time").textContent = formatTime("America/New_York");
        document.getElementById("london-time").textContent = formatTime("Europe/London");
        document.getElementById("tokyo-time").textContent = formatTime("Asia/Tokyo");
    }

    document.addEventListener("DOMContentLoaded", function () {
        updateTimeZones();
        setInterval(updateTimeZones, 1000);
    });
    </script>
   
    <!-- boostrap CDN script fragment -->
    <script th:fragment="bootstrapScript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>